<meta charset="utf-8">
<meta name="description" content="Personal Project Webpage">
<meta name="author" content="Pierre ML">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{site.title}} | {{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/main.scss">
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/logo.ico">
<script type="text/javascript" src="{{ site.baseurl }}/assets/etymology_tree.js"></script>