<ul class="header_ul">
  <li class="header_li_last"><a class="header_link" href="{{ site.baseurl }}/about">About</a></li>
  <li class="header_li"><a class="header_link" href="{{ site.baseurl }}/posts">Posts</a></li>
  <li class="header_li"><a class="header_link" href="{{ site.baseurl }}/algo">Algo</a></li>
  <li class="header_li"><a class="header_link" href="{{ site.baseurl }}">Home</a></li>
  <li class="header_li_logo"><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}/assets/logo.png" alt="logo" width="60" height="60"></a></li>
</ul>